.task-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    border: 1px solid rgba(0, 0, 0, 0.39);   
    margin: 25px auto;
    background-color: white;
    height: max-content;
    padding: 10px;
    border-radius: 20px;
    transition: .3s;
}
.title-task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin: 0 0 10px 0;
}
.box-icons {
    width: 10%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 3px;
}
.content-task {
    width: 97%;
    padding: 5px 10px;
    margin: 0 auto;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: #afb4c76e;
    border-radius: 20px;
}
.icon { 
    margin: 0 5px;
    font-size: 22px;    
    pointer-events: none;
}
.link-icon{
    font-size: initial;
    margin: 0 0px;
    padding: -1;
    width: max-content;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/*animations class*/
.some {
    display: none;
}
.completed {
    border-left: 15px solid green;
}
.uncompleted {
    border-left: 15px solid red;
}
/*darkmode*/
.taskdark{
    background-color: #1a1c1e;
    color: white;
}
@media (max-width:700px) {
    .box-icons { 
        margin-right: 1%;
    }
    .content-task {
        width: 95%;
        
    }
}
@media (max-width:595px) {
    .title-task,.icon{
        font-size: 19px;
    }
    .box-icons { 
        margin-right: 3%;
    }
    .content-task {
        width: 94%;
        font-size: 16px;
    }
}
@media (max-width:495px) {
    .title-task,.icon{
        font-size: 18px;
    }
    .box-icons { 
        margin-right: 9%;
    }
    .content-task {
        width: 91%;
        font-size: 15px;
        
    }
}