.headerplat-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid;
    padding: 10px 15px;
    margin: 10px auto;
    width: max-content;
    height: max-content;
    border-radius: 10px;

}
.addnewtask {
    font-size: 25px;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 10px;
}
.addnewtask:focus {
    box-shadow: none;
    outline: 0; 

}
.addnewtask-button{
    font-size: 25px;
    background-color: white;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 5px;
    color: #afb4c7;
}
.addnewtask-button:hover {
    transition: .2s;
    background-color: #ebf0fe;
    color: black;
}